*.iml
.gradle
.idea
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.svn
/uikit/build
uikit/build
gradle-build
/app/release
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.cxx

/e115/build
/e115_res_car/build
/e115_res_phone/build
/hongqi/build
/res_car/build
/res_phone/build
/third_library/build