<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haowei.wyc.hongqicar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.faw.hongqi.C229Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>

<!--        <activity-->
<!--            android:name="com.faw.e115.ui.E115MainActivity"-->
<!--            android:screenOrientation="landscape"-->
<!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <action android:name="com.faw.hongqicar.c229.voice"></action>-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name="com.faw.hongqi.ui.C229MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.faw.hongqicar.c229.voice"></action>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.faw.hongqi.ui.C229ContentActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent" />
        <activity
            android:name="com.faw.hongqi.ui.C229LoadAndUnzipFileActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"></activity>
        <activity
            android:name="com.faw.hongqi.ui.C229PlayVideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"></activity>

<!--        <activity-->
<!--            android:name="com.faw.e115.ui.E115ContentActivity"-->
<!--            android:screenOrientation="landscape"-->
<!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent" />-->
<!--        <activity-->
<!--            android:name="com.faw.e115.ui.E115LoadAndUnzipFileActivity"-->
<!--            android:screenOrientation="landscape"-->
<!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"></activity>-->
<!--        <activity-->
<!--            android:name="com.faw.e115.ui.E115PlayVideoActivity"-->
<!--            android:screenOrientation="landscape"-->
<!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"></activity>-->

    </application>

</manifest>